* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#vermelho, #verde, #azul, #amarelo {
    position: relative; /* Define o contexto para o posicionamento absoluto */
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10; 
    padding: 20px 0; 
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    color: white;
    gap: 75px; 
    padding: 50px;
}

header nav ul a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

header nav ul a:hover {
    background-color: aqua;
}

.grupo {
    height: 100vh;
}

#vermelho {
    background-color: tomato;
    width: 100%;
}

.logo {
    position: absolute;
    display: flex;
    height: 160px;
    padding-left: 50px;
    padding-top: 30px;
}

.supercell {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    height: 60px;
    display: flex;
    filter: invert(1); 
}

#verde {
    background-color: greenyellow;
}

#azul {
    background-color: blue;
}

#amarelo {
    background-color: yellow;
}
